{% extends "base.html" %}
{% load i18n %}
{% block title %}Main{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-4">

	</div>
	<div class="col-md-4">
		<h2>Products</h2>
		{% verbatim %}
		<div class="content" ng-controller="{% block ng_controller %}AppController{% endblock %}">
			<div class="panel" ng-repeat="post in posts">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">{{ post.title }}</h3>
					<author class="pull-right">{{ post.author.username }}</author>
				</div>
				<p class="well">{{ post.body }}</p>
			</div>
		</div>
		{% endverbatim %}
	</div>
	<div class="col-md-4">
		
	</div>
</div>
 {% load staticfiles %}
      <script src="{% static "js/app.js" %}"></script>
{% load staticfiles %}

{% endblock content %}
{% block extra_javascript %}

{% endblock extra_javascript %}
